db.sqlite3
modeloapp/__pycache__/*
/apps/core/__pycache__/*
/apps/core/migrations/*
/apps/categories/__pycache__/*
/apps/categories/migrations/*
/apps/products/__pycache__/*
/apps/products/migrations/*
/apps/schedules/__pycache__/*
/apps/schedules/migrations/*
